/*===========================
-----  BASE CONFIGURATION
=============================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

::selection          { color: $colorWhite; background-color: lighten($colorBlack, 15%); } // NORMAL
::-moz-selection     { color: $colorWhite; background-color: lighten($colorBlack, 15%); } // FIREFOX
::-webkit-selection  { color: $colorWhite; background-color: lighten($colorBlack, 15%); } // WEBKIT

html {
	overflow-y: scroll;
    font-size:$baseFontSize;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: url('../img/pattern-gog.png');
    padding-bottom: 50px;
    background-color: $colorDecor-white;
}

img {
	display: block;
	max-width: 100%;
}

a {
    outline: none;
    text-decoration: none;
}

// WEBKIT HACKS
html { -webkit-font-smoothing: antialiased; } // ugly Mac OS fonts rendering
input,
textarea,
select { box-sizing: inherit; } // user agent stylesheet default is box-sizing: border-box

// WEBKIT CUSTOM input[type=search]
input[type="search"] { -webkit-appearance: textfield !important; }
input[type="search"]::-webkit-search-cancel-button { display: none; }

.container {
    max-width:1210px;
    width:95%;
    margin:0 auto;
}

.page-wrapper {
    max-width: 1210px;
    width: 90%;
    margin: 0 auto;
    @include breakpoint(mobile) {
        width: 100%;
        max-width: none;
    }
}

