/*========================
--------  TYPOGRAPHY
==========================*/

//------FONT-FACE
@include fontFace (Gotham, gotham-light);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);


//------FONT SIZES
html {
    font-size : $baseFontSize;

    @include breakpoint (deskTop) {
        font-size: $baseFontSize - 1 ;
    }
    @include breakpoint (lapTop) {
        font-size: $baseFontSize - 2;
    }
    @include breakpoint (tabletLandscape) {
        font-size: $baseFontSize - 3;
    }
    @include breakpoint (tablet) {
        font-size: $baseFontSize - 4;
    }
}
body {
    font-size: 100%;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
