/*==================
----  VARIABLES
====================*/

//-----COLORS
$colorWhite: #FFF;
$colorBlack: #000;
$colorRed  : #F00;
$colorGreen: #0F0;
$colorBlue : #00F;

$colorText-blue: #4C3F54;
$colorDecor-green: #D13525;
$colorDecor-blue: #F2C057;
$colorDecor-orange: #486824;
$colorDecor-white: #F4CC70;
$colorDecor-whiteR: #F6FAFD;

// $colorText-blue: #86b4d9;
// $colorDecor-green: #becc06;
// $colorDecor-blue: #78d7fa;
// $colorDecor-orange: #f98451;
// $colorDecor-white: #F6FAFD;

//-----PATHS
$fontBaseUrl   : "http://static1.webedia.fr/fonts/";
$localFontBase : "/_common/fonts";
$imgBaseUrl    : "/web/skins/default/";

//------DIMENSIONS
$baseFontSize: 16px;

//------MEDIA QUERIES
$mobile--small   : 480px;
$tablet          : 768px;
$desktop         : 1025px;
$desktop--large  : 1600px;

$toPhone--small  : 479px;
$toTablet        : 767px;
$toDesktop       : 1024px;
$toDesktop--large: 1599px;

//------FONTS
$baseFont        : Arial, Helvetica, Tahoma, sans-serif;
$textFont: 'Roboto Condensed', sans-serif;
$titleFont:'Acme', sans-serif;
$mainFont        : "Gotham", $baseFont;
$mainFont--bold  : "", $baseFont;
$mainFont--italic: "", $baseFont;

//------Z INDEX LEVELS
$levelBottom: 1;
$levelMiddle: 2;
$levelTop   : 3;
