/*===============
-- HOME SLIDER
================*/

.slide-block {
	padding:20px;
	img {
		width:100%;
		border-radius:8px;
	}
}

.slider_content {
    position: absolute;
    width: 20%;
    height:auto;
    top: 100px;
    right: 62px;
    z-index: 100;
    .date {
    margin-bottom: 10px;
    padding-top: 31px;
    width: 122px;
    height: 70px;
    color: #fff;
    text-align: center;
    font-family:$textFont;
    font-size: 1rem;
    line-height: 1rem;
    background: url('../img/slider_date_plane.png') 0px 0px no-repeat;
    }
    .btn-read {
    	font-family:$textFont;
    	font-weight:400;
    	font-size:1rem;
    	line-height:1;
    	color:#fff;
    	background-color:#8BDAF8;
    	padding:8px 10px;
    	border-radius:5px;	
    }
}

.slider_content-overlay {
	position: absolute;
	background: url('../img/slider_plane.png') 100% 0px no-repeat;
	bottom: 0px;
    left: 0px;
    right: 0px;
    top: 20px;
    z-index: 2;
    overflow: hidden;
}

.slider_content_title h4 {
	margin-bottom: 1rem;
	font-family:$titleFont;
	font-size:2rem;
	color: $orange;
}

.slider_content_text p {
	margin-bottom:25px;
	font-family:$textFont;
	font-size:1rem;
	font-weight:300;
	line-height:1.3;
	color: #86b4d9;
}