/*========================
--------  TYPOGRAPHY
==========================*/

//------FONT-FACE

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?35e2v1');
  src:  url('../fonts/icomoon/icomoon.eot?35e2v1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?35e2v1') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?35e2v1') format('woff'),
    url('../fonts/icomoon/icomoon.svg?35e2v1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-hands:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-notes:before {
  content: "\e903";
  color: #fff;
}
.icon-tent:before {
  content: "\e904";
  color: #fff;
}
.icon-youtube:before {
  content: "\e905";
}



//------FONT SIZES
html {
    font-size : $baseFontSize;

    @include breakpoint (deskTop) {
        font-size: $baseFontSize - 1 ;
    }
    @include breakpoint (lapTop) {
        font-size: $baseFontSize - 2;
    }
    @include breakpoint (tabletLandscape) {
        font-size: $baseFontSize - 3;
    }
    @include breakpoint (tablet) {
        font-size: $baseFontSize - 4;
    }
    @include breakpoint (mobile) {
        font-size: $baseFontSize - 6;
    }
    @include breakpoint (mobile--L) {
        font-size: $baseFontSize - 7;
    }
}
body {
    font-size: 100%;
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
