/*============================
------  BREADCRUMBS
=============================*/

.breadcrumbs {
	padding: 0.5rem 1rem;
	background-color: #F6FAFD;
	border-radius: 0.4rem;
	li,a {
		font-family: $textFont;
		font-size: 0.875rem;
		line-height: 1.4;
		color: $colorText-blue;
		@include breakpoint(mobile) {
			font-size: 1.4rem;
		}
	}
}
