//-------------------------
//-------------------BUTTON
//-------------------------
.btn-read {
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.btn-read {
		background-color: #d1e102;
		color: #fff;
		font-family:$textFont;
		padding:10px 20px;
		border-radius:5px;
	}
