/*=========================
----- CONTENT BLOCK
===========================*/

.content {
	padding: 10px 20px;
}

.content_block {
	display: inline-block;
	width:32%;
	overflow: hidden;
	.content_title {
		font-family: Salsa, cursive;
		font-size: 1.8rem;
		color:$title-color;
	}
}