/*=========================
-------  IMAGE TEASER
===========================*/

.imageTeaser {
	float: left;
	width: 49%;
	margin-right: 2%;
	.imageTeaser__title {
		margin-top: 1rem;
		margin-bottom: 1rem;
		
		font-family:$textFont;
		font-size:1rem;
		line-height:1.5;
		color: #c3d108;
	}
	.imageTeaser__text {
		font-family:$textFont;
		font-size: 0.875rem;
		line-height:1.4;
		color: #86b4d9;
	}
	&:nth-of-type(2n+2) {
		margin-right: 0;
	}
}