/*================
----- HEADER
=================*/

.header {
	padding: 30px;
	.logo {
		display: inline-block;
	}
} 

.page-wrapper {
	.container {
	padding:3px 0 20px;
	background-color:#fff;
	border-radius: 10px;
	}
}

.nav_menu {
	background-color: $nav-color;
	border-radius: 10px;
	border-bottom: 1px solid rgb(229, 238, 244);
	ul li {
		padding:25px 15px;
		border-right: 1px solid rgb(209, 226, 237); 
	a {
		font-family: Salsa, cursive;
		//font-weight: bold;
		font-size:1.56rem;
		line-height: 1;
		letter-spacing: 1px;
		text-decoration: none;
		color:$title-color;
		}
	}
}


