/*================
----- HEADER
=================*/

.header {
	overflow: hidden;
	padding: 0 2rem;
	padding: 1.875rem;
	.logo {
		float: left;
		a {
		font-family: $titleFont;
		font-size: 3rem;
		color: $colorText-blue;	
		}
	}
} 

.page_container { 
	padding:3px 0 20px;
	background-color: #fff;
	border-radius: 10px;
}

.social-icons {
	float:right;
	a {
		display: block;
		padding-top: 0.5rem;
		margin-right: 1.3rem;
		background-color: #fff;
		width: 3rem;
		height: 3rem;
		text-align: center;
		border-radius: 1.5rem;
	}
	svg {
		width:25px;
		vertical-align: super;
	}
	li:last-child a {
		margin-right:0;
	}
}


