/*=========================
----- FOOTER
===========================*/
.footer {
	padding:0 1rem;
    @include breakpoint(mobile) {
        padding: 0;
    }
}
.footer_menu {
	padding: 1rem 0;
    text-align: center;
    border-top: 1px solid rgb(235, 242, 247);
    @include breakpoint(mobile--L) {
        display: none;
    }
    li {
    	padding: 5px 10px;
	    border-right: 1px solid rgb(229, 237, 244); 
    	a {
    	font-family: $textFont;
    	font-size: 1rem;
    	line-height:1.2;
		color: $colorText-blue;
         @include breakpoint(mobile) {
                font-size: 1.4rem;
            }
    	}
	}
	li:last-child {
    		border:none;
    	}
}

.footer_rights {
	font-family: $textFont;
	font-size: 0.875rem;
	line-height: 1.3;
    text-align: center;
    color: $colorDecor-blue;
    @include breakpoint(mobile) {
        padding: 1rem 0;
        font-size: 1.4rem;
    }
}
