//-------------------------
//-------------------BUTTON
//-------------------------
.btn-read {
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.btn-read {
	background-color: $colorDecor-blue;
	color: #fff;
	font-family: $textFont;
	font-weight: 700;
	padding:10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	@include breakpoint(mobile) {
		display: block;
		float: left;
		padding: 1rem 2rem;
		margin-top: 2rem;
		font-size: 1.5rem;
	}
}

.btnClear,.btnSend {
	@extend .btn-read;
	margin-right: 2rem;
}


