/*======================
----- MENU BUTTON
========================*/

.menu_btn {
	display: none;
	@include breakpoint(mobile) {
		display: block;
		float: right;
		margin-top: 0.6rem;
		margin-right: 2rem;
		cursor: pointer;
	}
	svg {
		width: 2.5rem;
		height: 2.5rem;
		path {
			fill: $colorText-blue;
		}
	}
}