@charset "UTF-8";
/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/*==================
----  VARIABLES
====================*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*	@include calc (width, "100% - 3rem");
*		MUST USE QUOTES ON VALUE
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
/*===================
------  RESET
=====================*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

/*===========================
-----  BASE CONFIGURATION
=============================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #FFF;
  background-color: #262626; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::-webkit-selection {
  color: #FFF;
  background-color: #262626; }

html {
  overflow-y: scroll;
  font-size: 16px; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/bg.jpg");
  padding-bottom: 50px; }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.container {
  max-width: 1210px;
  width: 95%;
  margin: 0 auto; }

.page-wrapper {
  max-width: 1210px;
  width: 90%;
  margin: 0 auto; }

/*========================
--------  TYPOGRAPHY
==========================*/
@font-face {
  font-family: "Gotham";
  src: url("http://static1.webedia.fr/fonts/gotham-light.eot?") format("eot"), url("http://static1.webedia.fr/fonts/gotham-light.woff2") format("woff2"), url("http://static1.webedia.fr/fonts/gotham-light.woff") format("woff"), url("http://static1.webedia.fr/fonts/gotham-light.ttf") format("truetype"), url("http://static1.webedia.fr/fonts/gotham-light.svg#Gotham") format("svg"); }

html {
  font-size: 16px; }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 750px) {
    html {
      font-size: 12px; } }

body {
  font-size: 100%; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

.btn-read {
  border: none;
  outline: none;
  -webkit-appearance: none; }

/*=========================
-------  TEASER BOX
===========================*/
.teaser {
  padding: 10px 20px; }

.teaser_box {
  display: inline-block;
  width: 32%;
  height: 10.625rem;
  padding: 0.9375rem;
  background-repeat: repeat-x;
  border-radius: 0.5rem;
  border-style: none none solid;
  border-bottom: 1px solid #A5B102;
  margin-right: 1.5%;
  overflow: hidden; }
  .teaser_box:nth-of-type(1) {
    background-color: #becc06;
    background-image: linear-gradient(#c4d208, #b5c202); }
  .teaser_box:nth-of-type(2) {
    background-color: #78d7fa;
    background-image: linear-gradient(#7fdbfd, #6dd1f6);
    background-repeat: repeat-x;
    border-bottom: 1px solid #63bee0; }
  .teaser_box:nth-of-type(3) {
    margin-right: 0;
    background-color: #f98451;
    background-image: linear-gradient(#fc8a58, #f57c46);
    background-repeat: repeat-x;
    border-bottom: 1px solid #df7040; }
  .teaser_box img {
    display: inline-block;
    float: left;
    margin-right: 20px; }
  .teaser_box .teaser_box_title {
    display: inline-block;
    font-family: Salsa, cursive;
    font-size: 2rem;
    color: #fff; }
  .teaser_box .teaser_box_text p {
    clear: both;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #fff;
    overflow: hidden; }

/*=========================
----- CONTENT BLOCK
===========================*/
.content {
  padding: 10px 20px;
  margin-bottom: 50px; }

.content_title {
  font-family: Salsa, cursive;
  font-size: 1.8rem;
  color: #86b4d9;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ebf2f7; }

.content_block {
  display: inline-block;
  width: 32%;
  height: auto; }
  .content_block .content_block_subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #c3d108; }
  .content_block .content_block_text {
    margin-bottom: 30px; }
  .content_block p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #86b4d9; }
  .content_block .btn-read {
    background-color: #d1e102;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px 20px;
    border-radius: 5px; }
  .content_block .datemini {
    color: #FC8A58; }

.content_block_minibox {
  overflow: hidden;
  margin-bottom: 20px; }
  .content_block_minibox img {
    display: inline-block; }
  .content_block_minibox .content_minibox_intro {
    display: inline-block;
    margin-left: 20px;
    width: 70%;
    clear: both; }

.content_block:nth-of-type(1) {
  float: left;
  margin-right: 2%; }

.content_block:nth-of-type(2) .btn-read {
  background-color: #8bdaf8; }

.content_block:nth-of-type(3) {
  float: right; }
  .content_block:nth-of-type(3) .btn-read {
    background-color: #f98451; }

/*========================
----- NAVIGATION - MENU
==========================*/
.nav_menu {
  background-color: #F6FAFD;
  border-radius: 10px;
  border-bottom: 1px solid #e5eef4; }
  .nav_menu .nav_menu_list > li {
    position: relative;
    border-right: 1px solid #d1e2ed; }
    .nav_menu .nav_menu_list > li a {
      display: block;
      position: relative;
      padding: 1.7rem 0.9rem;
      font-family: Salsa, cursive;
      font-size: 1.56rem;
      line-height: 1;
      letter-spacing: 1px;
      text-decoration: none;
      color: #86b4d9; }
    .nav_menu .nav_menu_list > li a:hover {
      color: #fff;
      background-color: #76D6F9; }
  .nav_menu .nav_menu_list > li:first-child a {
    border-top-left-radius: 0.8rem; }
  .nav_menu .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #78d7fa;
    color: #fff;
    z-index: 5555; }
    .nav_menu .dropdown-menu li {
      display: block;
      padding: 1rem 0; }
      .nav_menu .dropdown-menu li a {
        padding: 0 1.3rem 0 0.5rem;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem; }
  .nav_menu .nav_menu_list > li:hover .dropdown-menu {
    display: block; }

/*================
----- HEADER
=================*/
.header {
  padding: 1.875rem; }
  .header .logo {
    display: inline-block; }
    .header .logo img {
      width: 15rem; }

.page_container {
  padding: 3px 0 20px;
  background-color: #fff;
  border-radius: 10px; }

.social-icons {
  margin-top: 1.2rem;
  float: right; }
  .social-icons a {
    display: block;
    padding-top: 0.5rem;
    margin-right: 1.3rem;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 1.5rem; }
  .social-icons svg {
    width: 25px;
    vertical-align: super; }
  .social-icons li:last-child a {
    margin-right: 0; }

/*=========================
----- FOOTER
===========================*/
.footer {
  padding: 0 15px; }

.footer_menu {
  padding: 15px 0;
  text-align: center;
  border-top: 2px solid #ebf2f7; }
  .footer_menu li {
    padding: 5px 10px;
    border-right: 1px solid #e5edf4; }
    .footer_menu li a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      line-height: 1.2;
      color: #86b4d9; }
  .footer_menu li:last-child {
    border: none; }

.footer_rights {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  text-align: center;
  color: #7EDAFD; }

/*===============
-- HOME SLIDER
================*/
.slide-block {
  padding: 20px; }
  .slide-block img {
    width: 100%;
    border-radius: 8px; }

.slider_content {
  position: absolute;
  width: 20%;
  height: auto;
  top: 100px;
  right: 62px;
  z-index: 100; }
  .slider_content .date {
    margin-bottom: 10px;
    padding-top: 31px;
    width: 122px;
    height: 70px;
    color: #fff;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    background: url("../img/slider_date_plane.png") 0px 0px no-repeat; }
  .slider_content .btn-read {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    background-color: #8BDAF8;
    padding: 8px 10px;
    border-radius: 5px; }

.slider_content-overlay {
  position: absolute;
  background: url("../img/slider_plane.png") 100% 0px no-repeat;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 20px;
  z-index: 2;
  overflow: hidden; }

.slider_content_title h4 {
  margin-bottom: 1rem;
  font-family: "Salsa";
  font-size: 2rem;
  color: #FC8A58; }

.slider_content_text p {
  margin-bottom: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  color: #86b4d9; }

/*===============================
-------  SLICK SLIDER MAIN
================================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  bottom: 34px !important; }

/*=========================
-------- SLICK THEME
==========================*/
/*-------------------
------ SLIDER
--------------------*/
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/*-------------------
------ ARROWS
--------------------*/
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/*------------
----- DOTS 
---------------*/
.slick-dotted.slick-slider {
  margin-bottom: 10px; }

.slick-dots {
  position: absolute;
  bottom: 34px;
  right: 50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 20%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 29px;
    height: 28px;
    border-radius: 0px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: url("../img/camera_pag_item_point.png") 0px 0px no-repeat; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 28px;
      width: 29px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 29px;
        height: 28px;
        text-align: center;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: url("../img/camera_pag_item.png") 0px 0px no-repeat; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*=====================
----- PAGE - ABOUT
======================*/
.about .content {
  margin-bottom: 0;
  height: auto;
  overflow: hidden; }

.team_block {
  float: left;
  width: 32%;
  padding-bottom: 1rem; }
  .team_block .team_block_name {
    margin: 0.5rem 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #c3d108; }
  .team_block p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #86b4d9; }
  .team_block img {
    width: 70%; }

.team_block:nth-of-type(2), .team_block:nth-of-type(3) {
  margin-right: 2%; }
