@charset "UTF-8";
/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/*==================
----  VARIABLES
====================*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*	@include calc (width, "100% - 3rem");
*		MUST USE QUOTES ON VALUE
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
/*===================
------  RESET
=====================*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .content_block ul li, .content_block--wider ul li, .content_block--faqs ul li, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

/*===========================
-----  BASE CONFIGURATION
=============================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #FFF;
  background-color: #262626; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::-webkit-selection {
  color: #FFF;
  background-color: #262626; }

html {
  overflow-y: scroll;
  font-size: 16px; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/pattern-gog.png");
  padding-bottom: 50px;
  background-color: #F4CC70; }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.container {
  max-width: 1210px;
  width: 95%;
  margin: 0 auto; }

.page-wrapper {
  max-width: 1210px;
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 680px) {
    .page-wrapper {
      width: 100%;
      max-width: none; } }

/*========================
--------  TYPOGRAPHY
==========================*/
@font-face {
  font-family: "Gotham";
  src: url("http://static1.webedia.fr/fonts/gotham-light.eot?") format("eot"), url("http://static1.webedia.fr/fonts/gotham-light.woff2") format("woff2"), url("http://static1.webedia.fr/fonts/gotham-light.woff") format("woff"), url("http://static1.webedia.fr/fonts/gotham-light.ttf") format("truetype"), url("http://static1.webedia.fr/fonts/gotham-light.svg#Gotham") format("svg"); }

html {
  font-size: 16px; }
  @media (max-width: 1250px) {
    html {
      font-size: 15px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media (max-width: 980px) {
    html {
      font-size: 13px; } }
  @media (max-width: 768px) {
    html {
      font-size: 12px; } }
  @media (max-width: 680px) {
    html {
      font-size: 10px; } }

body {
  font-size: 100%; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

.btn-read, .contact .btnSend input, .contact .btnClear input {
  border: none;
  outline: none;
  -webkit-appearance: none; }

.btn-read, .contact .btnSend input, .contact .btnClear input {
  background-color: #FFBB00;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 20px;
  border-radius: 5px; }
  @media (max-width: 680px) {
    .btn-read, .contact .btnSend input, .contact .btnClear input {
      display: block;
      float: left;
      padding: 1rem 2rem;
      margin-top: 2rem;
      font-size: 1.5rem; } }

/*=========================
-------  TEASER BOX
===========================*/
.colorTeaser {
  padding: 0.63rem 1.25rem; }

.colorTeaser_box {
  float: left;
  width: 32%;
  height: auto;
  min-height: 13rem;
  padding: 0.9375rem;
  background-repeat: repeat-x;
  border-radius: 0.5rem;
  border-style: none none solid;
  border-bottom: 1px solid #A5B102;
  margin-right: 1.5%;
  overflow: hidden; }
  @media (max-width: 680px) {
    .colorTeaser_box {
      width: 100%;
      float: none;
      margin-bottom: 2rem;
      padding: 1.5rem; } }
  .colorTeaser_box:nth-of-type(1) {
    background-color: #FB6542; }
  .colorTeaser_box:nth-of-type(2) {
    background-color: #FFBB00; }
  .colorTeaser_box:nth-of-type(3) {
    margin-right: 0;
    background-color: #3F681C; }
  .colorTeaser_box svg {
    float: left;
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 0.6rem; }
  .colorTeaser_box .colorTeaser_box_title {
    display: inline-block;
    font-family: "Acme", sans-serif;
    font-size: 2rem;
    color: #fff; }
    @media (max-width: 680px) {
      .colorTeaser_box .colorTeaser_box_title {
        font-size: 3rem; }
        .colorTeaser_box .colorTeaser_box_title br {
          display: none; } }
  .colorTeaser_box .colorTeaser_box_text {
    margin-top: 2rem; }
  .colorTeaser_box .colorTeaser_box_text p, .colorTeaser_box .colorTeaser_box_text .content_block ul li, .content_block ul .colorTeaser_box .colorTeaser_box_text li, .colorTeaser_box .colorTeaser_box_text .content_block--wider ul li, .content_block--wider ul .colorTeaser_box .colorTeaser_box_text li, .colorTeaser_box .colorTeaser_box_text .content_block--faqs ul li, .content_block--faqs ul .colorTeaser_box .colorTeaser_box_text li {
    margin-top: 0.5rem;
    clear: both;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #fff;
    overflow: hidden; }
    @media (max-width: 680px) {
      .colorTeaser_box .colorTeaser_box_text p, .colorTeaser_box .colorTeaser_box_text .content_block ul li, .content_block ul .colorTeaser_box .colorTeaser_box_text li, .colorTeaser_box .colorTeaser_box_text .content_block--wider ul li, .content_block--wider ul .colorTeaser_box .colorTeaser_box_text li, .colorTeaser_box .colorTeaser_box_text .content_block--faqs ul li, .content_block--faqs ul .colorTeaser_box .colorTeaser_box_text li {
        font-size: 1.6rem; } }

/*=========================
----- CONTENT BLOCK
===========================*/
.content {
  padding: 2rem 1.5rem;
  margin-bottom: 3rem;
  overflow: hidden; }

.content_title {
  font-family: "Acme", sans-serif;
  font-size: 1.8rem;
  color: #375E97;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ebf2f7; }
  @media (max-width: 680px) {
    .content_title {
      font-size: 2.5rem; } }

.content_block, .content_block--wider, .content_block--faqs {
  display: inline-block;
  width: 32%;
  height: auto;
  margin-bottom: 4rem; }
  @media (max-width: 680px) {
    .content_block, .content_block--wider, .content_block--faqs {
      width: 100%;
      float: none; } }
  .content_block .content_block_subtitle, .content_block--wider .content_block_subtitle, .content_block--faqs .content_block_subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #FB6542; }
    @media (max-width: 680px) {
      .content_block .content_block_subtitle, .content_block--wider .content_block_subtitle, .content_block--faqs .content_block_subtitle {
        margin-bottom: 1rem;
        font-size: 1.8rem; } }
  .content_block .content_block_text, .content_block--wider .content_block_text, .content_block--faqs .content_block_text {
    margin-bottom: 2rem; }
  .content_block p, .content_block--wider p, .content_block--faqs p, .content_block ul li, .content_block--wider ul li, .content_block--faqs ul li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #375E97; }
    @media (max-width: 680px) {
      .content_block p, .content_block--wider p, .content_block--faqs p, .content_block ul li, .content_block--wider ul li, .content_block--faqs ul li {
        font-size: 1.4rem; } }
  .content_block .datemini, .content_block--wider .datemini, .content_block--faqs .datemini {
    color: #3F681C; }
  .content_block--wider {
    float: left !important;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    width: 64.66%; }
    @media (max-width: 680px) {
      .content_block--wider {
        width: 100%; } }
    .content_block--wider .content_block_text {
      font-style: italic; }
    .content_block--wider.darkBg {
      background-color: #f5f5f5; }
  .content_block--right {
    float: right !important; }
  .content_block--left {
    float: left !important; }
  .content_block--faqs {
    width: 80%;
    margin: 0 auto; }
  .content_block ul, .content_block--wider ul, .content_block--faqs ul {
    margin-bottom: 4rem; }
  .content_block ul li, .content_block--wider ul li, .content_block--faqs ul li {
    display: block;
    padding: 0.3rem 0; }
    .content_block ul li:before, .content_block--wider ul li:before, .content_block--faqs ul li:before {
      position: relative;
      top: 3px;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      content: url("../../assets/img/list_arr1.png"); }

.content_block_minibox {
  overflow: hidden;
  margin-bottom: 1.5rem; }
  .content_block_minibox img {
    float: left;
    width: 28%; }
  .content_block_minibox .content_minibox_intro {
    display: inline-block;
    margin-left: 2%;
    width: 68%;
    clear: both; }

.content_block:nth-of-type(1), .content_block--wider:nth-of-type(1), .content_block--faqs:nth-of-type(1) {
  float: left;
  margin-right: 2%; }
  .content_block:nth-of-type(1) .btn-read, .content_block--wider:nth-of-type(1) .btn-read, .content_block--faqs:nth-of-type(1) .btn-read, .content_block:nth-of-type(1) .contact .btnSend input, .contact .btnSend .content_block:nth-of-type(1) input, .content_block--wider:nth-of-type(1) .contact .btnSend input, .contact .btnSend .content_block--wider:nth-of-type(1) input, .content_block--faqs:nth-of-type(1) .contact .btnSend input, .contact .btnSend .content_block--faqs:nth-of-type(1) input, .content_block:nth-of-type(1) .contact .btnClear input, .contact .btnClear .content_block:nth-of-type(1) input, .content_block--wider:nth-of-type(1) .contact .btnClear input, .contact .btnClear .content_block--wider:nth-of-type(1) input, .content_block--faqs:nth-of-type(1) .contact .btnClear input, .contact .btnClear .content_block--faqs:nth-of-type(1) input {
    background-color: #FB6542; }

.content_block:nth-of-type(3), .content_block--wider:nth-of-type(3), .content_block--faqs:nth-of-type(3) {
  float: right; }
  .content_block:nth-of-type(3) .btn-read, .content_block--wider:nth-of-type(3) .btn-read, .content_block--faqs:nth-of-type(3) .btn-read, .content_block:nth-of-type(3) .contact .btnSend input, .contact .btnSend .content_block:nth-of-type(3) input, .content_block--wider:nth-of-type(3) .contact .btnSend input, .contact .btnSend .content_block--wider:nth-of-type(3) input, .content_block--faqs:nth-of-type(3) .contact .btnSend input, .contact .btnSend .content_block--faqs:nth-of-type(3) input, .content_block:nth-of-type(3) .contact .btnClear input, .contact .btnClear .content_block:nth-of-type(3) input, .content_block--wider:nth-of-type(3) .contact .btnClear input, .contact .btnClear .content_block--wider:nth-of-type(3) input, .content_block--faqs:nth-of-type(3) .contact .btnClear input, .contact .btnClear .content_block--faqs:nth-of-type(3) input {
    background-color: #3F681C; }

/*========================
----- NAVIGATION - MENU
==========================*/
.nav_menu {
  background-color: #F6FAFD;
  border-radius: 10px;
  border-bottom: 1px solid #e5eef4; }
  @media (max-width: 680px) {
    .nav_menu {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 55; } }
  .nav_menu .nav_menu_list > li {
    position: relative;
    border-right: 1px solid #d1e2ed; }
    @media (max-width: 680px) {
      .nav_menu .nav_menu_list > li {
        display: block; } }
    .nav_menu .nav_menu_list > li a {
      display: block;
      position: relative;
      padding: 1.7rem 0.9rem;
      font-family: "Acme", sans-serif;
      font-size: 1.56rem;
      line-height: 1;
      letter-spacing: 1px;
      text-decoration: none;
      color: #375E97; }
    @media (min-width: 981px) {
      .nav_menu .nav_menu_list > li a:hover {
        color: #fff;
        background-color: #FFBB00; } }
  .nav_menu .nav_menu_list > li:first-child a {
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem; }
  .nav_menu .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: -4rem;
    background-color: #FFBB00;
    color: #fff;
    z-index: 5555;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem; }
    .nav_menu .dropdown-menu li {
      display: block;
      padding: 1rem 0; }
      .nav_menu .dropdown-menu li a {
        padding: 0 1.3rem 0 0.5rem;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem; }
  @media (min-width: 981px) {
    .nav_menu .nav_menu_list > li:hover .dropdown-menu {
      display: block; } }

@media (min-width: 981px) {
  .drop-hover:hover {
    background-color: #FFBB00;
    color: #fff; } }

.show {
  display: block; }

/*============================
------  BREADCRUMBS
=============================*/
.breadcrumbs {
  padding: 0.5rem 1rem;
  background-color: #F4CC70;
  border-radius: 0.4rem; }
  .breadcrumbs li, .breadcrumbs a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #375E97; }
    @media (max-width: 680px) {
      .breadcrumbs li, .breadcrumbs a {
        font-size: 1.4rem; } }

/*=========================
-------  IMAGE TEASER
===========================*/
.imageTeaser {
  float: left;
  width: 49%;
  margin-right: 2%; }
  .imageTeaser .imageTeaser__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #FB6542; }
    @media (max-width: 680px) {
      .imageTeaser .imageTeaser__title {
        font-size: 2.5rem; } }
  .imageTeaser .imageTeaser__text {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #375E97; }
    @media (max-width: 680px) {
      .imageTeaser .imageTeaser__text {
        font-size: 1.4rem; } }
  .imageTeaser:nth-of-type(2n+2) {
    margin-right: 0; }

/*======================
----- MENU BUTTON
========================*/
.menu_btn {
  display: none; }
  @media (max-width: 680px) {
    .menu_btn {
      display: block;
      float: right;
      margin-top: 0.6rem;
      margin-right: 2rem;
      cursor: pointer; } }
  .menu_btn svg {
    width: 2.5rem;
    height: 2.5rem; }
    .menu_btn svg path {
      fill: #375E97; }

/*================
----- HEADER
=================*/
.header {
  overflow: hidden;
  padding: 0 2rem;
  padding: 1.875rem; }
  @media (max-width: 680px) {
    .header {
      text-align: center;
      padding: 2.5rem 0; } }
  .header .logo {
    float: left; }
    @media (max-width: 680px) {
      .header .logo {
        display: inline-block;
        float: none;
        width: 70%;
        margin-left: 3rem; } }
    .header .logo a {
      font-family: "Acme", sans-serif;
      font-size: 3rem;
      color: #375E97; }
      @media (max-width: 680px) {
        .header .logo a {
          font-size: 4rem; } }
      .header .logo a svg {
        width: 3.125rem;
        height: 3.125rem;
        vertical-align: sub; }
        .header .logo a svg path {
          fill: #375E97; }
        @media (max-width: 680px) {
          .header .logo a svg {
            width: 4rem;
            height: 4rem; } }

.page_container {
  padding: 3px 0 20px;
  background-color: #fff;
  border-radius: 10px; }
  @media (max-width: 680px) {
    .page_container {
      width: 100%;
      border-radius: 0px; } }

.social-icons {
  float: right; }
  @media (max-width: 680px) {
    .social-icons {
      display: none; } }
  .social-icons a {
    display: block;
    padding-top: 0.5rem;
    margin-right: 1.3rem;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 1.5rem; }
  .social-icons svg {
    width: 1.56rem;
    height: 1.9rem;
    vertical-align: super;
    fill: #375E97; }
  .social-icons li:last-child a {
    margin-right: 0; }

/*=========================
----- FOOTER
===========================*/
.footer {
  padding: 0 1rem; }
  @media (max-width: 680px) {
    .footer {
      padding: 0; } }

.footer_menu {
  padding: 1rem 0;
  text-align: center;
  border-top: 2px solid #ebf2f7; }
  @media (max-width: 420px) {
    .footer_menu {
      display: none; } }
  .footer_menu li {
    padding: 5px 10px;
    border-right: 1px solid #e5edf4; }
    .footer_menu li a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      line-height: 1.2;
      color: #375E97; }
      @media (max-width: 680px) {
        .footer_menu li a {
          font-size: 1.4rem; } }
  .footer_menu li:last-child {
    border: none; }

.footer_rights {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  text-align: center;
  color: #FFBB00; }
  @media (max-width: 680px) {
    .footer_rights {
      font-size: 1.4rem; } }

/*===============
-- HOME SLIDER
================*/
.slide-block {
  padding: 20px; }
  .slide-block img {
    width: 100%;
    border-radius: 8px; }

.slider_content {
  position: absolute;
  width: 22%;
  height: auto;
  top: 5rem;
  right: 3.87rem;
  z-index: 100; }
  @media (max-width: 768px) {
    .slider_content {
      display: none; } }
  .slider_content .date {
    position: relative;
    width: 8rem;
    height: 4.5rem;
    margin-bottom: 0.6rem;
    background-image: url("/assets/img/slider_date_plane.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    .slider_content .date span {
      position: absolute;
      top: 2rem;
      left: 1rem;
      color: #375E97;
      text-align: center;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      line-height: 1rem; }
    .slider_content .date svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      fill: #FB6542; }
      .slider_content .date svg path {
        width: 100%;
        height: 100%; }
  .slider_content .btn-read, .slider_content .contact .btnSend input, .contact .btnSend .slider_content input, .slider_content .contact .btnClear input, .contact .btnClear .slider_content input {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    background-color: #FFBB00;
    padding: 8px 10px;
    border-radius: 5px; }

.slider_content-overlay {
  position: absolute;
  background: url("../img/slider_plane.png") no-repeat;
  background-size: 40% 97%;
  background-position: top right;
  /* background-position-x: 0; */
  bottom: 0rem;
  /* background-position-y: 0; */
  left: 0px;
  right: 0px;
  top: 1rem;
  z-index: 2;
  overflow: hidden; }
  @media (max-width: 768px) {
    .slider_content-overlay {
      background-image: none; } }

.slider_content_title h4 {
  margin-bottom: 1rem;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #3F681C; }

@media (max-width: 980px) {
  .slider_content_text {
    display: none; } }

.slider_content_text p, .slider_content_text .content_block ul li, .content_block ul .slider_content_text li, .slider_content_text .content_block--wider ul li, .content_block--wider ul .slider_content_text li, .slider_content_text .content_block--faqs ul li, .content_block--faqs ul .slider_content_text li {
  margin-bottom: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  color: #375E97; }

/*===============================
-------  SLICK SLIDER MAIN
================================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  bottom: 34px !important; }

/*=========================
-------- SLICK THEME
==========================*/
/*-------------------
------ SLIDER
--------------------*/
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/*-------------------
------ ARROWS
--------------------*/
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/*------------
----- DOTS 
---------------*/
.slick-dotted.slick-slider {
  margin-bottom: 10px; }

.slick-dots {
  position: absolute;
  bottom: 2.125rem;
  right: 3.125rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 30%; }
  @media (max-width: 768px) {
    .slick-dots {
      display: none !important; } }
  .slick-dots li {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    height: 1.75rem;
    width: 1.81rem;
    border-radius: 0px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: url("../img/camera_pag_item_point.png") 0px 0px no-repeat; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 1.75rem;
      width: 1.81rem;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        height: 1.75rem;
        width: 1.81rem;
        text-align: center;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: url("../img/camera_pag_item.png") 0px 0px no-repeat; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.activities .content_block--wider {
  padding: 0; }

/*=========================
-------  CONTACT
===========================*/
.contact .content {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.contact .content_block--wider {
  padding: 0; }

.contact .content_block--left p, .contact .content_block--left .content_block ul li, .content_block ul .contact .content_block--left li, .contact .content_block--left .content_block--wider ul li, .content_block--wider ul .contact .content_block--left li, .contact .content_block--left .content_block--faqs ul li, .content_block--faqs ul .contact .content_block--left li {
  margin-bottom: 2rem; }

.contact .infoForm input {
  padding-left: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.875rem;
  color: #888;
  width: 30%;
  height: 2rem;
  margin-right: 2%;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  appearance: none; }

.contact .field {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .contact .field textarea {
    width: 100%;
    border-radius: 0.5rem; }

.contact .btnSend input, .contact .btnClear input {
  -webkit-appearance: button;
  appearance: button;
  border-style: none;
  cursor: pointer; }

/*=====================
----- PAGE - ABOUT
======================*/
.about .content {
  margin-bottom: 0;
  height: auto;
  overflow: hidden; }

.about .content_title {
  font-size: 3rem; }

.team_block {
  float: left;
  width: 32%;
  padding-bottom: 1rem; }
  @media (max-width: 680px) {
    .team_block {
      width: 100%;
      float: none; } }
  .team_block .team_block_name {
    margin: 0.5rem 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #c3d108; }
    @media (max-width: 680px) {
      .team_block .team_block_name {
        font-size: 2.5rem; } }
  .team_block p, .team_block .content_block ul li, .content_block ul .team_block li, .team_block .content_block--wider ul li, .content_block--wider ul .team_block li, .team_block .content_block--faqs ul li, .content_block--faqs ul .team_block li {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #86b4d9; }
    @media (max-width: 680px) {
      .team_block p, .team_block .content_block ul li, .content_block ul .team_block li, .team_block .content_block--wider ul li, .content_block--wider ul .team_block li, .team_block .content_block--faqs ul li, .content_block--faqs ul .team_block li {
        font-size: 1.4rem; } }
  .team_block img {
    width: 70%; }

.team_block:nth-of-type(2), .team_block:nth-of-type(3) {
  margin-right: 2%; }
