@charset "UTF-8";
/*------------------------------------------------------------------------------
*    CSS Document (http://www.w3.org/Style/CSS/)
*    For STYLEGUIDE, reffer to /config/_styleguide.scss
-----------------------------------------------------------------------------*/
/* EXAMPLE
*    @include breakpoint (phone) {
*        width: 40%;
*    }
*/
/* EXAMPLE
*
*    @include borderRadius (10em 1em 3em 2px);
*    @include borderRadius (3em);
*/
/* EXAMPLE
*    @include transition (opacity 0.2s linear);
*    Default is 'all 0.3s ease-in-out'
*/
/* EXAMPLE
*    @include transform (rotate(10deg));
*    Default is 'translate(-50%, -50%)'
*/
/* EXAMPLE
*
*	@include calc (width, "100% - 3rem");
*		MUST USE QUOTES ON VALUE
*/
/* EXAMPLE
*
*    input { @include inputPlaceholder { color: #FA0; } }
*/
/* EXAMPLE
*
*    @include fontFace (FontName, fontFolder, 700, italic);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

::selection {
  color: #FFF;
  background-color: #262626; }

::-moz-selection {
  color: #FFF;
  background-color: #262626; }

::-webkit-selection {
  color: #FFF;
  background-color: #262626; }

html {
  overflow-y: scroll;
  font-size: 16px; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  background: url("../img/bg.jpg"); }

img {
  display: block;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

html {
  -webkit-font-smoothing: antialiased; }

input,
textarea,
select {
  box-sizing: inherit; }

input[type="search"] {
  -webkit-appearance: textfield !important; }

input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.container {
  width: 1210px;
  margin: 0 auto; }

@font-face {
  font-family: "Gotham";
  src: url("http://static1.webedia.fr/fonts/gotham-light.eot?") format("eot"), url("http://static1.webedia.fr/fonts/gotham-light.woff2") format("woff2"), url("http://static1.webedia.fr/fonts/gotham-light.woff") format("woff"), url("http://static1.webedia.fr/fonts/gotham-light.ttf") format("truetype"), url("http://static1.webedia.fr/fonts/gotham-light.svg#Gotham") format("svg"); }

html {
  font-size: 16pxpx; }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 10.66667pxpx; } }
  @media (max-width: 767px) {
    html {
      font-size: 8pxpx; } }

body {
  font-size: 100%; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

.clear {
  clear: both; }

.hide {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.vertical-top {
  vertical-align: top; }

.vertical-middle {
  vertical-align: middle; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.btn {
  border: none;
  outline: none;
  -webkit-appearance: none; }

.header {
  padding: 30px; }
  .header .logo {
    display: inline-block; }

.page-wrapper .container {
  padding: 3px;
  background-color: #fff;
  border-radius: 10px; }

.nav_menu {
  background-color: #F6FAFD;
  border-radius: 10px;
  border-bottom: 1px solid #e5eef4; }
  .nav_menu ul li {
    padding: 25px 15px;
    border-right: 1px solid #d1e2ed; }
    .nav_menu ul li a {
      font-family: Salsa;
      font-size: 1.56rem;
      line-height: 1;
      letter-spacing: 1px;
      text-decoration: none;
      color: #86b4d9; }

.slide-block {
  padding: 20px; }
  .slide-block img {
    width: 100%;
    border-radius: 8px; }

.slider_content {
  position: absolute;
  width: 20%;
  height: auto;
  top: 100px;
  right: 62px;
  z-index: 100; }
  .slider_content .date {
    margin-bottom: 10px;
    padding-top: 31px;
    width: 122px;
    height: 70px;
    color: #fff;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    background: url("../img/slider_date_plane.png") 0px 0px no-repeat; }
  .slider_content .btn-read {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    background-color: #8BDAF8;
    padding: 8px 10px;
    border-radius: 5px; }

.slider_content-overlay {
  position: absolute;
  background: url("../img/slider_plane.png") 100% 0px no-repeat;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 20px;
  z-index: 2;
  overflow: hidden; }

.slider_content_title h4 {
  margin-bottom: 1rem;
  font-family: "Salsa";
  font-size: 2rem;
  color: #FC8A58; }

.slider_content_text p {
  margin-bottom: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
  color: #86b4d9; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  bottom: 34px !important; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: 34px;
  right: 50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 20%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: url("../img/camera_pag_item_point.png"); }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }
